﻿/* ========== Text Styles ========== */
hr { color: #000000}
body, table, span.rvts0 /* Normal text */
{
 font-size: 10pt;
 font-family: 'Arial', 'Helvetica', sans-serif;
 font-style: normal;
 font-weight: normal;
 color: #000000;
 text-decoration: none;
}
span.rvts1 /* Heading */
{
 font-weight: bold;
 color: #0000ff;
}
span.rvts2 /* Subheading */
{
 font-weight: bold;
 color: #000080;
}
span.rvts3 /* Keywords */
{
 font-style: italic;
 color: #800000;
}
a.rvts4, span.rvts4 /* Jump 1 */
{
 color: #008000;
 text-decoration: underline;
}
a.rvts5, span.rvts5 /* Jump 2 */
{
 color: #008000;
 text-decoration: underline;
}
span.rvts6
{
}
span.rvts7
{
 font-weight: bold;
 color: #0000ff;
}
span.rvts8
{
 font-weight: bold;
 color: #000080;
}
span.rvts9
{
 font-style: italic;
 color: #800000;
}
a.rvts10, span.rvts10
{
 color: #008000;
 text-decoration: underline;
}
span.rvts11
{
 font-weight: bold;
}
span.rvts12 /* Font Style */
{
 font-family: 'Tahoma', 'Geneva', sans-serif;
 font-style: italic;
 color: #c0c0c0;
}
a.rvts13, span.rvts13 /* Font Style */
{
 font-family: 'Tahoma', 'Geneva', sans-serif;
 font-style: italic;
 color: #6666ff;
 text-decoration: underline;
}
span.rvts14
{
 font-weight: bold;
}
span.rvts15
{
 font-family: 'Courier New', 'Courier', monospace;
}
a.rvts16, span.rvts16
{
 color: #0000ff;
 text-decoration: underline;
}
span.rvts17
{
 font-size: 11pt;
 font-family: 'Calibri';
 color: #000000;
}
span.rvts18
{
 font-size: 11pt;
 font-family: 'Calibri';
 font-style: italic;
 font-weight: bold;
 color: #000000;
}
a.rvts19, span.rvts19
{
 font-weight: bold;
 color: #0000ff;
 text-decoration: underline;
}
span.rvts20
{
 font-family: 'Arial Unicode MS', 'Lucida Sans Unicode', 'Arial', 'Helvetica', sans-serif;
 font-weight: bold;
}
span.rvts21
{
 color: #000000;
}
span.rvts22
{
 font-weight: bold;
 color: #000000;
}
span.rvts23
{
 font-size: 12pt;
 font-family: 'Courier New', 'Courier', monospace;
 font-weight: bold;
 color: #008080;
}
span.rvts24
{
 font-size: 9pt;
}
span.rvts25
{
}
span.rvts26
{
 font-weight: bold;
}
span.rvts27
{
 font-size: 9pt;
 font-weight: bold;
}
span.rvts28
{
 font-size: 0.5pt;
 font-family: 'Times New Roman', 'Times', serif;
 color: #000000;
 background-color: #000000;
}
span.rvts29
{
 font-size: 9pt;
}
span.rvts30
{
 font-size: 9pt;
 font-weight: bold;
}
span.rvts31
{
 font-size: 9pt;
}
span.rvts32
{
 font-size: 9pt;
 font-weight: bold;
}
span.rvts33
{
 font-size: 9pt;
 font-weight: bold;
}
span.rvts34
{
 font-size: 9pt;
 font-weight: bold;
 text-decoration: underline;
}
span.rvts35
{
 font-style: italic;
}
span.rvts36
{
 font-style: italic;
}
span.rvts37
{
 font-size: 9pt;
 font-style: italic;
}
span.rvts38
{
 font-family: 'Courier New', 'Courier', monospace;
 color: #008080;
}
span.rvts39
{
 font-size: 9pt;
 font-family: 'Calibri';
 font-style: italic;
 font-weight: bold;
 color: #000000;
}
span.rvts40
{
 font-size: 9pt;
 font-family: 'Calibri';
 color: #000000;
}
span.rvts41
{
 font-size: 9pt;
 font-family: 'Calibri';
 font-weight: bold;
 color: #000000;
}
span.rvts42
{
 font-size: 9pt;
 color: #000000;
}
span.rvts43
{
 font-size: 8pt;
 color: #222222;
 background-color: #ffffff;
}
span.rvts44
{
 font-weight: bold;
}
a.rvts45, span.rvts45
{
 font-size: 11pt;
 font-family: 'Calibri';
 color: #000000;
 text-decoration: underline;
}
span.rvts46
{
 font-size: 11pt;
 font-family: 'Calibri';
 font-weight: bold;
 color: #000000;
}
span.rvts47
{
 font-size: 9pt;
 font-family: 'Cambria';
}
span.rvts48
{
 font-size: 9pt;
 font-family: 'Cambria';
 font-weight: bold;
}
/* ========== Para Styles ========== */
p,ul,ol /* Paragraph Style */
{
 text-align: left;
 text-indent: 0px;
 padding: 0px 0px 0px 0px;
 margin: 0px 0px 0px 0px;
}
.rvps1 /* Centered */
{
 text-align: center;
}
.rvps2
{
}
.rvps3
{
 text-align: center;
}
.rvps4
{
 line-height: 1.50;
}
.rvps5
{
 text-align: justify;
 text-justify: inter-word;
 text-align-last: auto;
}
.rvps6
{
 text-align: justify;
 text-justify: inter-word;
 text-align-last: auto;
 line-height: 1.50;
}
.rvps7
{
 text-align: justify;
 text-justify: inter-word;
 text-align-last: auto;
 margin: 0px 0px 0px 60px;
}
.rvps8
{
 text-align: justify;
 text-justify: inter-word;
 text-align-last: auto;
 line-height: 1.50;
 margin: 0px 0px 0px 60px;
}
.rvps9 /* Paragraph Style */
{
 text-align: center;
 border-color: #c0c0c0;
 border-style: solid;
 border-width: 1px;
 border-right: none;
 border-left: none;
 padding: 2px 0px 2px 0px;
 margin: 7px 0px 7px 0px;
}
.rvps10
{
 margin: 0px 0px 20px 0px;
}
.rvps11
{
 text-align: justify;
 text-justify: inter-word;
 text-align-last: auto;
 line-height: 1.50;
 margin: 20px 0px 0px 0px;
}
.rvps12
{
 text-align: justify;
 text-justify: inter-word;
 text-align-last: auto;
 margin: 0px 0px 20px 0px;
}
.rvps13
{
 margin: 5px 0px 0px 0px;
}
.rvps14
{
 text-align: left;
 text-indent: 0px;
 page-break-after: avoid;
 padding: 0px 0px 0px 0px;
 margin: 20px 0px 5px 0px;
}
.rvps15
{
 text-align: justify;
 text-justify: inter-word;
 text-align-last: auto;
 margin: 5px 0px 0px 0px;
}
.rvps16
{
}
.rvps17
{
 text-align: justify;
 text-justify: inter-word;
 text-align-last: auto;
 margin: 10px 0px 0px 0px;
}
.rvps18
{
 background: #ffffff;
}
.rvps19
{
 text-align: justify;
 text-justify: inter-word;
 text-align-last: auto;
 margin: 0px 0px 5px 0px;
}
.rvps20
{
 text-align: justify;
 text-justify: inter-word;
 text-align-last: auto;
 margin: 0px 0px 16px 0px;
}
.rvps21
{
 text-align: justify;
 text-justify: inter-word;
 text-align-last: auto;
 margin: 16px 0px 0px 0px;
}
.rvps22
{
 text-align: justify;
 text-justify: inter-word;
 text-align-last: auto;
 margin: 8px 0px 0px 0px;
}
.rvps23
{
 text-align: justify;
 text-justify: inter-word;
 text-align-last: auto;
 margin: 0px 0px 5px 48px;
}
.rvps24
{
 text-align: justify;
 text-justify: inter-word;
 text-align-last: auto;
 margin: 8px 0px 5px 0px;
}
.rvps25
{
 text-align: justify;
 text-justify: inter-word;
 text-align-last: auto;
 margin: 0px 0px 5px 0px;
}
.rvps26
{
 margin: 8px 0px 0px 0px;
}
.rvps27
{
 margin: 0px 0px 0px 67px;
}
.rvps28
{
 text-align: right;
}
.rvps29
{
 text-align: justify;
 text-justify: inter-word;
 text-align-last: auto;
}
.rvps30
{
 text-align: justify;
 text-justify: inter-word;
 text-align-last: auto;
 margin: 0px 0px 0px 48px;
}
.rvps31
{
 text-indent: 48px;
}
.rvps32
{
 margin: 16px 0px 0px 0px;
}
.rvps33
{
 text-align: justify;
 text-justify: inter-word;
 text-align-last: auto;
 margin: 8px 0px 5px 0px;
}
.rvps34
{
 text-align: justify;
 text-justify: inter-word;
 text-align-last: auto;
 margin: 16px 0px 5px 0px;
}
.rvps35
{
 text-align: center;
 margin: 0px 0px 5px 0px;
}
.rvps36
{
 margin: 0px 0px 5px 0px;
}
/* ========== Lists ========== */
.list0 {text-indent: 0px; padding: 0; margin: 0 0 0 60px; list-style-position: outside; list-style-type: decimal;}
.list1 {text-indent: 0px; padding: 0; margin: 0 0 0 60px; list-style-position: outside; list-style-type: lower-alpha;}
.list2 {text-indent: 0px; padding: 0; margin: 0 0 0 60px; list-style-position: outside; list-style-type: lower-roman;}
.list3 {text-indent: 0px; padding: 0; margin: 0 0 0 48px; list-style-position: outside; list-style-type: decimal;}
.list4 {text-indent: 0px; padding: 0; margin: 0 0 0 48px; list-style-position: outside; list-style-type: lower-alpha;}
.list5 {text-indent: 0px; padding: 0; margin: 0 0 0 48px; list-style-position: outside; list-style-type: lower-roman;}
.list6 {text-indent: 0px; padding: 0; margin: 0 0 0 67px; list-style-position: outside; list-style-type: disc;}
.list7 {text-indent: 0px; padding: 0; margin: 0 0 0 24px; list-style-position: outside; list-style-type: disc;}
.list8 {text-indent: 0px; padding: 0; margin: 0 0 0 48px; list-style-position: outside; list-style-type: circle;}
.list9 {text-indent: 0px; padding: 0; margin: 0 0 0 48px; list-style-position: outside; list-style-type: square;}
.list10 {text-indent: 0px; padding: 0; margin: 0 0 0 48px; list-style-position: outside; list-style-type: disc;}
